/*

!/scripts

!/packages
/packages/*
!/packages/README.md

!/data

!/dotfiles

/dotfiles/lazygit/*
!/dotfiles/lazygit/config.yml

/dotfiles/lf/*
!/dotfiles/lf/lfrc
!/dotfiles/lf/icons
!/dotfiles/lf/colors
!/dotfiles/lf/scripts/*

/dotfiles/wezterm/*
!/dotfiles/wezterm/wezterm.lua
