/bin/
/code/
/images/
/env/
/other/
/tmp/
/doc/
/soft/
/backups/

/dotfiles/lazygit/*
!/dotfiles/lazygit/config.yml

/dotfiles/lf/*
!/dotfiles/lf/lfrc
!/dotfiles/lf/icons
!/dotfiles/lf/colors
!/dotfiles/lf/scripts/*

/dotfiles/wezterm/*
!/dotfiles/wezterm/wezterm.lua
