[Unit]
Description=Redis
After=network.target
[Service]
Type=forking
ExecStart=/usr/local/depends/redis/bin/redis-server /usr/local/depends/redis/redis.conf
ExecReload=/usr/local/depends/redis/bin/redis-server -s reload
ExecStop=/usr/local/depends/redis/bin/redis-server -s stop
PrivateTmp=true
[Install]
WantedBy=multi-user.target
