"#################################################################### 插件 plugins
Plug 'machakann/vim-highlightedyank' " 高亮复制的文本
Plug 'preservim/nerdtree'            " 目录树插件

"#################################################################### 配置 options
set clipboard+=unnamed " 共享系统剪贴板
set scrolloff=4        " 垂直滚动是保持上下有4行间距
set sidescrolloff=8    " 水平滚动时保持左右有8列间距
set hlsearch           " 高亮搜索
set incsearch          " 增量搜索
set ignorecase         " 搜索时忽略大小写
set smartcase          " 搜索时智能匹配大小写
set number             " 设置行号
set relativenumber     " 相对行号
set visualbell         " 关闭蜂鸣器
set ideajoin           " idea内置合并多行字符串，注释，条件等
let g:NERDTreeMapActivateNode = '<Tab>' " nerdtree插件配置
let g:NERDTreeMapToggleZoom = '<F11>'
let g:highlightedyank_highlight_duration = "100" " 复制时高亮插件配置
let mapleader=" "                        " leader键

"#################################################################### 按键映射 keymap
" 禁用翻页键
nmap <C-f> <nop>
nmap <C-b> <nop>
" 窗口移动
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
" 搜索上一次的结果
nmap n 'Nn'[v:searchforward]
nmap N 'nN'[v:searchforward]
" 取消搜索时的高亮
nmap <esc> :noh<cr><esc>
nmap <C-[> :noh<cr><esc>
" 离开insert模式后切换输入法为英文模式
inoremap <esc> <esc>:!im_select 1<cr>
inoremap <C-[> <C-[>:!im_select 1<cr>
vmap <M-j> :m '>+1<cr>gv=gv" 上下移动当前行
vmap <M-k> :m '<-2<cr>gv=gv
" 翻页时保持光标居中
nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz
" 搜索时保持光标居中
nmap n nzz
nmap N Nzz

"#################################################################### idea内置功能扩展
" 左右切换tab
nmap <M-n> <Action>(NextTab)
nmap <M-p> <Action>(PreviousTab)
" 禅模式
nmap <leader>0 <Action>(ToggleZenMode)
" 折叠代码块
nmap za <Action>(CollapseSelection)
" 移动光标历史位置
nmap <C-i> <Action>(Forward)
nmap <C-o> <Action>(Back)
" 显示函数信息
imap <C-k> <Action>(ParameterInfo)
" 注释
nmap <M-e> <Action>(CommentByLineComment)
vmap <M-e> <Action>(CommentByLineComment)<esc>
nmap gx <Action>(GotoDeclaration)

"#################################################################### buffer
nmap <leader>bf <Action>(RecentFiles)

"#################################################################### 文件 file
" 搜索文本
nmap <leader>ff <Action>(FindInPath)
" 在nerdtree内定位当前文件
nmap <leader>fL :NERDTreeFind<cr>
" harpoon
nmap <leader>fl <Action>(ShowHarpoon)<cr>
nmap <leader>fa <action>(AddToHarpoon)<cr>
nmap <M-j> <Action>(GotoHarpoon1)
nmap <M-k> <Action>(GotoHarpoon2)
nmap <M-l> <Action>(GotoHarpoon3)
nmap <M-;> <Action>(GotoHarpoon4)

"#################################################################### git
nmap <leader>gr <Action>(Vcs.RollbackChangedLines)
vmap <leader>gr <Action>(Vcs.RollbackChangedLines)
nmap <leader>gR <Action>(ChangesView.Revert)
nmap <leader>gd <Action>(Compare.SameVersion)
nmap <leader>gb <Action>(Annotate)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

"#################################################################### 语言服务相关 lsp
" 代码跳转
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(FindUsagesInFile)
nmap gR <Action>(FindUsages)
nmap gs <Action>(GotoSuperMethod)
nmap <leader>ls <Action>(FileStructurePopup)
nmap <leader>lS <Action>(GotoSymbol)

nmap [f <Action>(MethodUp)
nmap ]f <Action>(MethodDown)
nmap ]r <Action>(GotoNextElementUnderCaretUsage)
nmap [r <Action>(GotoPrevElementUnderCaretUsage)
" 代码诊断
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)

"#################################################################### code
" 格式化
nmap <leader>cf <Action>(ReformatCode)
vmap <leader>cf <Action>(ReformatCode)
nmap <F2> <Action>(RenameElement)
nmap <leader>cr <Action>(RunClass)
nmap <leader>cd <Action>(DebugClass)

"#################################################################### project
nmap <leader>pf <Action>($LRU)
nmap <leader>po <Action>(OpenFile)
nmap <leader>pr <Action>(ChooseRunConfiguration)
nmap <leader>pd <Action>(ChooseDebugConfiguration)
nmap <leader>ps <Action>(Stop)

"#################################################################### debug
nmap <M-b> <Action>(ToggleLineBreakpoint)
nmap <C-M-b> <Action>(ToggleBreakpointEnabled)
